img :focus{
    outline: none;
}

body {
/*    position:relative;*/
    background-color: 404040;
    box-sizing: border-box;
    
/*    overflow:scroll;*/
}
.desk_button{
    box-sizing: border-box;
/*    height:70%;*/
    width:30%;
    float:left;
    border-radius:5px;
    margin: 3% 10%;
    
    border: .5px solid darkgrey;
    /*    box-shadow: -3px 3px 3px darkgrey;*/
}
.desk_button:hover{

    box-shadow: 0px 0px 5px 5px darkgrey;
}


/*           CONTAINER DIV - SMALLER VERSION OF BODY*/
.desk_body{
    left:0;
    background-color: white;
    border: .5px solid darkgrey;
    box-sizing:border-box;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px #4D4D4D;
    
    margin: 1% auto 5% auto;
    width: 80vw;
}
/*          DESCRIPTION TEXT - TEXT THAT EXPLAINS PURPOSE OF DOCUMENT*/
#desc_box {
    background-color:white;
    text-align: justify;
    text-justify: inter-character;
    height:60%;
    overflow-y: auto;
/*    MOBILE TESTING */
    
}
#desk_dtxt{
    line-height: 17px;
    font-family: Serif;
    font-size:17px;
}
.exit_wrap{
    height: 30px;
}
.desk_comp{
    display: inline-block;
    float:left;
    width: 40%;
    box-sizing:border-box;
    margin: 5% 5% 5% 5%;
    padding: 0px 15px 0px 15px;

/*
    MOBILE TESTING 
    display: block;
    width: 100%;
    margin: 0px;
*/
}
.desk_button_cont{
    float:left;
    width: 90%;
    margin: 5% 5% 5% 5%;
}
#desk_head{
    position:fixed;
    top: 3vh;
    left:3vw;

    box-sizing: border-box;
    width: 50vw;
    padding:10px 15px 10px 15px;
    white-space: initial;
    vertical-align: middle;
    text-justify: inter-character;

    font-size: 3.5vh;
    font-family: 'Gayathri', sans-serif;
    font-weight:bold;

    background-color: lightgray;
/*        #404040; */
    /*                #75BC1E;*/
    color: black; //#404040;
    border-radius: 5px;
    box-shadow: -1px 2px 5px #4D4D4D;
    
/*
    MOBILE TESTING 
    position: absolute;
    width: 77vw;
    margin-left: 10.5vw;
    margin-top: 2vw;
*/
}   
.desk_web_prev{
    /*                background-color: lightpink;*/
/*    min-height: 321px;*/
    height:70%;
    text-align: center;
/*    box-sizing: border-box;*/
/*    padding: 50% auto 50% auto;*/
}
#desk_ad{
    /*                background-color:aqua;*/
/*    height: 50%;*/
/*    box-sizing: border-box;*/
}
#desk_ad_prev{
    margin-top:auto;
    margin-bottom:auto;
}
.desk_prev{
    width:100%;
    text-align: center;
    border:.5px solid darkgrey;
}
.desk_prev:hover{
    /*                border:2px solid darkgray;*/
    box-shadow: 0px 0px 5px 5px darkgrey;
}

.desk_ttl{
    width:100%;
    line-height: 50px;
    font-size: 25px;
    font-family: 'Gayathri', sans-serif;
    font-weight:bold;
    text-align: center;
    display:inline-block;
    /*                SEWT FONT AND FONT SIZE TEXT ALIGN*/
}
.desk_ttl:hover{
    font-size: 26px;
}
#viewer_div{
    z-index: 5;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    /*                DO NOT SET HEIGHT*/
    padding-top:50px;

    background-color: rgb(0, 0, 0, .8);
    text-align: center;

    display: none;
    overflow-y:scroll;
    overflow-x: hidden;
}
.viewer_file{
/*    width: 800px;*/
    margin: 0 auto;
    

}
#pdf_view_src{
    height:600px;
    /*
    margin-left:auto;
    margin-right:auto;
    */
    border:none;
}
#exit_view{
    height:20px;
    vertical-align: middle;
    /*
    margin-left:auto;
    margin-right:auto;
    */
}
#exit_view:hover{
    height:30px;
}

hr{
    color: darkgrey;
    height:1px;
    width:90%;
    margin: 0 auto 0 auto;
}


#img_view_src{
    height: 90vh;
}
#pdf_view_src{
    width: 80vw;
/*    WEB*/
        height:20000px; 

/*    MOBILE*/
/*    height: 4700px;*/
}
